html{
    scroll-behavior: smooth;
}
.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('');
}


/* Contenedor que mantiene los productos */
.productosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 10px; 
    max-width: 1200px; 
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    
}

/* Estilos para cada producto */
.producto-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    background: #fff;
    transition: transform 0.2s ease-in-out;
}

.producto-card:hover {
    transform: scale(1.05); 
}

.producto-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.producto-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.cantidad button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad button:hover {
    background: #e65c00;
}

.cantidad span {
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}

.producto-card button.añadir {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.producto-card button.añadir:hover {
    background: #e65c00;
}

